@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to ChowderCoin!</h1>

</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h3>
            ChowderCoin is an emerging alternative currency that is back by one of mankinds greatest assets - chowder. 
            The purpose of this site is to educate about ChowderCoin, provide the latest news and updates about ChowderCoin, and provide useful 
            tools for diversifying your financial portfolio into ChowderCoin.
        </h3>
    </div>
</div>