
@{
    ViewBag.Title = "RatesConversion";
}


<div class="row">
    <div class="col-sm-5">
        <h3>Current Prices</h3>
        <span><i>*Prices are per ounce</i></span>
        <div id="ratesApp" class="blue-back" style="padding:10px;border-radius:5px;">
            <div class="mobile-table">
                <div class="row mobile-table-header">
                    <div class="col-sm-4">
                        <label>Item</label>
                    </div>
                    <div class="col-sm-4 text-center">
                        <label>Unit Price (USD)</label>
                    </div>
                    <div class="col-sm-4 text-center">
                        <label>Quantity</label>
                    </div>                    
                </div>
                <hr class="fat" style="border-color:black"/>
                <div class="mobile-table-body">
                    <div v-for="item in items">
                        <div class="row mobile-table-row">
                            <div class="col-sm-4">
                                {{item.Title}}
                            </div>
                            <div class="col-sm-4 text-center">
                                {{item.Price}}
                            </div>
                            <div class="col-sm-4 text-center">
                                {{item.Count}}
                            </div>
                        </div>
                        <hr class="mini" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <h3>Conversion Calculators</h3>
        <span><i>*Conversions are based on current market prices</i></span>
        <div id="chowderToUSDApp" class="red-back" style="padding:10px;border-radius:5px;">
            <h4>ChowderCoin to USD</h4>
            <form @@submit="submitForm" action="#" method="post">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col-sm-4">
                        <label class="inline">Chowder:</label>
                        <select v-model="selectedType" class="form-control inline" style="width:auto;">
                            <option v-for="t in types" v-bind:value="t.Value">{{t.Text}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="inline">Denomination:</label>
                        <select v-model="selectedDenom" class="form-control inline" style="width:auto;">
                            <option v-for="d in denoms" v-bind:value="d.Value">{{d.Text}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="inline">Quantity</label>
                        <input type="number" v-model="quantity" class="form-control inline" style="width:auto;max-width:100px;" required min="1" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;">

                    <div class="col-sm-4 col-sm-offset-4 text-right">
                        <button type="submit" class="btn btn-primary">Convert</button>
                    </div>
                    <div class="col-sm-4 ">
                        <label class="inline">Price: $</label>
                        <input type="text" v-model="result" class="form-control inline" style="max-width:100px;" readonly/>
                    </div>
                </div>
            </form>
        </div>
        <div id="usdToChowderApp" class="green-back" style="padding:10px;border-radius:5px;margin-top:10px;">
            <h4>USD to ChowderCoin</h4>
            <form @@submit="submitForm" action="#" method="post">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col-sm-4">
                        <label class="inline">USD: $</label>
                        <input v-model="amount" class="form-control inline" style="max-width:100px;" required />
                    </div>
                    <div class="col-sm-4">
                        <label class="inline">Chowder:</label>
                        <select v-model="selectedType" class="form-control inline" style="width:auto;">
                            <option v-for="t in types" v-bind:value="t.Value">{{t.Text}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="inline">Denomination:</label>
                        <select v-model="selectedDenom" class="form-control inline" style="width:auto;">
                            <option v-for="d in denoms" v-bind:value="d.Value">{{d.Text}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;">

                    <div class="col-sm-4 col-sm-offset-4 text-right">
                        <button type="submit" class="btn btn-primary">Convert</button>
                    </div>
                    <div class="col-sm-4 ">
                        <label class="inline">Quantity:</label>
                        <input type="text" v-model="result" class="form-control inline" style="max-width:100px;" readonly/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/rates-conversion-app.js"></script>
}