body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:beige
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.about-col{
    padding:15px;
    border-radius:5px;
    box-sizing:border-box;
    width:100%;
}
.green-back{
    background-color:lightgreen
}
.blue-back{
    background-color:lightblue
}
.yellow-back{
    background-color:lightgoldenrodyellow
}
.red-back {
    background-color: lightsalmon
}
hr.mini{
    margin:0
}
hr.fat {
    margin: 0;
    border-width: 2px;
}
.inline{display:inline;}
.inline-block{display:inline-block;}

/*Mobile Table*/
.mobile-table{
    width:100%;
    border-radius:3px;
}
.mobile-table-header{
    padding:0 5px;
}
.mobile-table-row{
    padding:10px 5px;
}
.red-text{
    color:red;
}
.green-text{
    color:green;
}

.line-item{
    font-weight:bold;
    font-size:larger;
}